.Titulo{
    color: orange; text-align: center;
    font-size: 80px; margin: 10px;
}

.Navegacion a{
    width: 100%;
    padding: 6rem;
    color: darkgray;
    text-decoration: none;
    font-size: 16px;
}

.Titulo-Secundario{
    font-size: 77px;
    padding: 0px;;
}

.Titulo-Terciario{
    font-size: 25px;
    margin: 0px;
}

.Fecha{
    font-size: 19px;
    padding: 15px 0px 0px 0px;
}
.Parrafo{
    font-size: 20px;
    width: 70%;
    margin-right: 25%;
    text-align: justify;
}

footer{
    background-color: #464646;
    color: white;
    height: auto;
    width: 100%;
}

.Titulo-Footer{
    font-size: 30px;
    margin-left: 100px;
}

.Footer-Columnas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
}

.Columna{
    flex: 1;
    max-width: calc(25% - 20px);
    margin: 0 10px;
}

.Columna h4{
    margin-bottom: 10px;
    font-size: 25px;
}

.Columna ul{
    list-style: none;
    padding: 0;
}

.Columna ul li {
    margin-bottom: 5px;
}

.Columna ul li a {
    text-decoration: none;
    color: #ffffff; 
}

